<table class="table-dashboard">
  <caption>My Orders</caption>
  <thead>
    <th>Order #</th>
    <th>Ordered By</th>
    <th>Date</th>
    <th>Total Price</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @my_orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.first_name %></td>
        <td><%= order.created_at.strftime('%d %b %Y') %></td>
        <td><%= order.total_price %>€</td>
        <td><%= order.status.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
