<div class="container" style="margin-top: 60px">
  <ul class="nav nav-tabs">
    <% if current_user.cook_status == 1 %>
      <li class="active"><a class='detail' data-toggle="tab" href="#meals">Meals</a></li>
      <li><a data-toggle="tab" href="#orders">Orders</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% if current_user.cook_status == 1 %>

    <div id="meals" class="tab-pane fade in active">

      <%= link_to "Submit a meal for approval", new_meal_path %>
      <h2>My Meals repository</h2>
      <h4>Approved Meals</h4>
      <div class="row">
        <% @my_meals.each do |meal| %>
        <%= link_to render("drag_card", meal: meal), meal_path(meal) %>
        <% end %>
      </div>



        <h1>Plan the schedule for the next 7 days:</h1>
        <%#= link_to "Create a new schedule",  new_week_day_path, class: "btn btn-danger" %>
        <div class="table-scroll">
          <table class="table">
            <thead>
              <% (0..6).each do |x| %>
              <% @selected_day = (@today + x) %>
              <th><%= @selected_day.strftime('%A') %> - <%= @selected_day.strftime('%x')  %></th>
              <% end %>
            </thead>
            <tbody>
              <tr>
                <% (0..6).each do |x| %>
                <% @selected_day = (@today + x) %>
                <% if current_user.week_days.where(date: @selected_day).empty? %>
                <td><%= render "week_days/form_week_day", form: [@my_meals, @selected_day] %></td>
                <% else%>
                    <td>
                      <div class="col-md-12">
                        <div class="submited-card">
                          <div class="submited-card-title">
                              <% meal_name = current_user.week_days.where(date: @selected_day)[0].meal.name %>
                              <h2><%= "#{meal_name} was submited" %></h2>
                              <hr>
                              <% @weekday = current_user.week_days.where(date: @selected_day)[0] %>
                              <p>Orders until:</p>
                              <p> <%= @weekday.last_order_time.strftime("%Hh%M") %></p>
                              <hr>
                              <p> Pick up time:   </p>
                              <p>  <%= @weekday.pick_up_time_start.strftime("%Hh%M")%> - <%= @weekday.pick_up_time_end.strftime("%Hh%M")%> </p>
                          </div>



                          </div>
                        </div>

                      </div>
                    </td>

                <% end %>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="orders" class="tab-pane fade">
        <div class="row">
          <%= render 'cook_table', items_from_cook: @items_from_cook %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <h4 style="text-align: center">My Orders</h4>
        <%= render 'user_table', my_orders: @my_orders %>
      </div>
    <% end %>
  </div>
</div>
