<div class="container">


  <h1>Cook's Details</h1>
  <p>Name: <%= @cook.first_name %> <%= @cook.last_name %></p>
  <p>Email: <%= @cook.email %></p>
  <p>Address: <%= @cook.address %></p>
  <p><%= @cook.photo %></p>

  <p>Bio</p>
</div>
