<div class="container">
  <div class="wrapper-others">
    <div class="cook-profile">
      <div class="left">

        <% if @cook.photo.model[:photo] == nil %>
          <%= image_tag @cook.photo_fake, class: "avatar-cook", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
        <% else %>
          <%= cl_image_tag @cook.photo, width: 160, height: 160, crop: :thumb, gravity: :face, class: "avatar-cook", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
        <% end %>
        <!-- <p><%= @cook.photo %></p> -->
        <h4 class = "text-center"><%= @cook.first_name %> <%= @cook.last_name %></h4>
        <div class="cook-data">
          <h5>Details</h5>
          <p><strong>Email</strong><br><%= @cook.email %></p>
          <p><strong>Address</strong><br><%= @cook.address %></p>
          <p><strong>Bio</strong><br>Born abroad, living in Portugal for the last 3 years. Really love to cook for friends and family.</p>
          <p><strong>Fun facts</strong><br>Loves to work out with a beer in his hand, catch some sun in Lisbon beaches and cook for others.</p>
        </div>
      </div>

      <div class="right">
        <h5>Reviews</h5>
        <% @cook.meals.each do |meal| %>

        <div class="meals-details">
        <%= link_to meal_path(meal) do %>
        <div class="meals-content">
          <p><strong><%= meal.name %></strong></p>
            <% ratings = [] %>
            <% meal.reviews.each do |review| %>
            <% ratings << review.rating  %>
            <% end %>
            <p><% if ratings.empty? %>
            <% average_rating = 0 %>
            <% else %>
            <% average_rating = (ratings.reduce(:+)/ratings.size.to_f).round(0)  %>
            <% end %>
            <% average_rating.times do %>
            <i class="fas fa-star star-yellow"></i>
            <% end %>
            <% (5 - average_rating).times do %>
            <i class="fas fa-star star-grey"></i>
            <% end %></p>
            <% end %>
        </div>
          <div class="meals-image" style="background-image: url('<%= cl_image_path meal.photo, height: 300, width: 400, crop: :fill %>')"></div>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

