<div class="shopping_cart-container">

  <div class="items-container">
    <h1>
      Your cart
    </h1>
    <!-- Display items in the current_order in a table (shopping cart) -->
    <table id="cart-table">
      <% @items.each do |item| %>
      <tr class="cart-row">
        <td class="item-image" style="background: url(<%= item.meal.photo %>)">
        </td>
        <td class="item-name"><%= item.meal.name %></td>
        <td class="item-details"><%= item.doses %> <%= 'portion'.pluralize(item.doses) %>  </td>
        <td class="item-price"><%= item.item_price %>€</td>
        <td><%= link_to order_item_path(@order, item), method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-trash-alt fa-xs"></i>
            <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="summary-container">
    <!--  Title Summary -->
    <div class="cart-summary">
      <h1>
        Summary
      </h1>
    </div>

    <!-- Form for coupon code (this is a fake one) -->
    <div class="form-coupon-code">
      <form action >
        <div class="cart-coupon-code" id="cart-coupon">
          <label for="dwfrm_cart_couponCode">
            Do you have a promo code?
          </label>
          <input type="text" name="cart_couponCode" id="dwfrm_cart_couponCode">
          <button class="coupon-code-button" type="button" value="dwfrm_cart_addCoupon" name="cart_addCoupon" id="add-coupon">
            Apply
          </button>
          <div id="content">

          </div>
        </div>
      </form>
    </div>

    <!-- Subtotal box -->
    <div class="subtotal">
      <div class="price">
        <span><h3>Subtotal</h3></span>
        <span><h3><%=  @order.total_price %>€</h3></span>
      </div>
      <div class="extra-costs">
        <span>Delivery Fee</span>
        <span>Free</span>
      </div>
      <div class="extra-costs">
        <div>
        <span>Discount</span>
        </div>
        <div>00€</div>
      </div>
    </div>

    <!-- Total price and stripe checkout button -->
    <div class="price">
      <span><h3>Total Price</h3></span>
      <span><h3><%=  @order.total_price %>€</h3></span>
    </div>
    <div class="checkout">
      <%= form_tag order_payments_path(@order) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Food Next Door"
        data-email="<%= current_user.email %>"
        data-description="Purchase for <%= @order.id %>"
        data-amount="<%= @order.total_price_cents %>"
        data-currency="<%= @order.total_price.currency %>"></script>
      <% end %>

<script>
  const oForm = document.forms[0];
  const formInput = oForm.elements["cart_couponCode"].value;
  const div = document.getElementById('cart-coupon');
  const button = document.querySelector('.coupon-code-button');
  const applyButton = document.getElementById('add-coupon');

  const coupon = () => {
    applyButton.addEventListener('click', (event) => {
    if (formInput === "chickensgang") {
      div.insertAdjacentHTML('afterend', 'Reduction');
      button.disabled = true;
    }
    else {
      div.insertAdjacentHTML('afterend', '\<br>Please enter a valid coupon.');
    }
    });
  }

  coupon();

</script>
    </div>
  </div>
</div>


