<div class="banner down-of-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1522791465802-47616431a4cf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c90adf7feebaa20c43c42f03eab4043b&auto=format&fit=crop&w=1034&q=80');">
  <div class="banner-content">
    <h1>You want to become a cook in our platform?</h1>
    <p>Preper delicious home cook meals for your neighbors</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Apply to be a cook
</button>
    <a href="#details"><h3 style="color: white";><i class="fas fa-arrow-circle-down"></i></h3></a>
  </div>
</div>

<div class="info-cook">
  <h2 class="text-center">What are the advantages?</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="apply-card">
          <div class="apply-card-top text-center">
            <%= image_tag "https://image.flaticon.com/icons/svg/481/481486.svg", class: "apply-card-picture" %>
          </div>
          <div class="apply-card-bottom">
            <p>Cook with passion for other people, show the chef inside of you</p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
       <div class="apply-card">
        <div class="apply-card-top text-center">
          <%= image_tag "https://image.flaticon.com/icons/svg/112/112539.svg", class: "apply-card-picture" %>
        </div>
        <div class="apply-card-bottom">
          <p>Contribute to the community helping your neighbours getting quality food</p>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
     <div class="apply-card">
      <div class="apply-card-top text-center">
        <%= image_tag "https://image.flaticon.com/icons/svg/631/631200.svg", class: "apply-card-picture" %>
      </div>
      <div class="apply-card-bottom">
       <p>Make some extra money with your cooking with your amazing cooking skills</p>
     </div>
   </div>
 </div>
</div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title"><strong>Apply to be a cook</strong></h2>
      </div>
      <div class="modal-body">
        <p>Please confirm your data:</p>
        <div class="modal-data">
          <p><strong>First name: </strong><br><%= current_user.first_name %> </p>
          <p><strong>Last name: </strong><br> <%= current_user.last_name %> </p>
          <p><strong>Email: </strong><br> <%= current_user.email %></p>
          <p><strong>Address: </strong><br> <%= current_user.address %> </p>
          <p><em>* If you press "Apply", one of our members will contact you within 24 hours. </em></p>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Apply *", update_user_path(current_user)%>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

