<div class="banner" style="background-image: url('https://images.unsplash.com/photo-1444952483853-7c36e902e722?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f6da868b5d1b551546dde3e0e5b363bc&auto=format&fit=crop&w=1567&q=80');">
    <%= link_to "Login / Signup", new_user_session_url, class: 'btn-loggin'%>
  <div class="banner-content">
    <h1>FOOD NEXT DOOR</h1>
    <p>Order a home cooked meal</p>
    <div class="search-home">
        <%= render "search_lp" %>
    </div>
  </div>
</div>

  <%= render 'concept' %>

  <%= render 'home_details' %>

  <%= render 'testimonials' %>

  <%= render 'about_us' %>



