<%= simple_form_for(@meal) do |f| %>

<div class="col-md-6 col-md-offset-3">
  <div class="form-inputs" style="color: black">
    <%= f.input :name %>
    <%= f.input :description%>
    <%= f.input :grams_per_dose %>
    <%= f.input :ingredients %>
    <%= f.input :price %>
  </div>

  <div class="form-actions flexing-box">
    <%= f.button :submit, class: "btn btn-success" %>
    <%= link_to "Back", meals_path, class: "btn btn-danger" %>
  </div>
</div>

<% end %>

