<div class="col-xs-12 col-sm-6 col-lg-4 js-card">
  <div class="card">
    <%= link_to meal_path(meal) do %>
      <div class="card-picture"
          style="background: url('<%= meal.photo %>')"></div>
      <div class="card-title">
        <div>
          <p><%= meal.name %></p>
        </div>
      </div>
    <% end %>

      <% weekday_meal = meal.week_days.where(date: Date.today)[0] %>
      <div class="card-footer">
        <div><p><%= meal.price %>€</p></div>
        <div class="card-time"><span class="sub">pick-up time</span> <%= weekday_meal.pick_up_time_start.strftime('%Hh%M') %> / <%= weekday_meal.pick_up_time_end.strftime('%Hh%M') %></div>
        <div><i class="fas fa-clock fa-lg"></i></div>
      </div>
    </div>
</div>

<script>
  function decrease() {
    let val = document.querySelector(".val");
    if(parseInt(val.value) > parseInt(val.min)) {
      val.value = parseInt(val.value) - 1;
    }
    return val;
  }
  function increase() {
    let val = document.querySelector(".val");
    if(parseInt(val.value) < parseInt(val.max)) {
      val.value = parseInt(val.value) + 1;
    }
    return val;
  }
</script>
