<div class="meal-banner" style="background-image: url('<%= @meal.photo %>');"></div>

<div class="show">

  <div class="main-container">


    <div class="left-section">
      <div class="meal-header">
        <h4>
          <%= @meal.name %>
          <% if current_user == @meal.cook %>
            <%= link_to edit_meal_path do %>
              <i class="fas fa-pencil-alt fa-l"></i>
            <% end %>
            <%= link_to meal_path, method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fas fa-trash-alt fa-l"></i>
            <% end %>
          <% end %>
           <div class="meal-cook">
           <%= link_to "More about the cook", meal_cook_path(@meal)%>

           </div>

        </h4>
        <p><%= @meal.price %>€</p>
      </div>

      <div class="meal-info">
        <p><%= @meal.description %></p>
        <h5>Ingredients</h5>
        <p><%= @meal.ingredients %></p>
        <h5>Portion</h5>
        <p><%= @meal.grams_per_dose %>g</p>
      </div>

<!--     <div>
      <h4>Get to know the Cook:</h4>
      <p>Name: <%= @meal.cook.first_name %>  <%= @meal.cook.last_name %></p>
      <p>Contact datails: <%= @meal.cook.email %></p>
      <p>Pick up food address: <%= @meal.cook.address %></p>
    </div> -->
      <% weekday_meal = @meal.week_days.where(date: Date.today)[0] %>
      <div class="meal-footer">
        <div class="meal-time">
          <p>Pickup time: <%#= weekday_meal.pick_up_time_start.strftime('%Hh%M') %> / <%#= weekday_meal.pick_up_time_end.strftime('%Hh%M') %></p>
        </div>
        <div class="meal-dose">
          <%= simple_form_for [@meal, @item] do |f| %>
            <div class="form-actions">
              <i class="fas fa-minus" onclick="decrease()"></i>
              <input name="item[doses]" type="number" min="1" max="<%= weekday_meal.doses %>" value="1" class="val" id="item_doses" readonly>
              <i class="fas fa-plus" onclick="increase()"></i>
              <%#= f.button :submit, 'Add to Cart', class: "button" %>
              <input type="submit" name="commit" value="Add to Cart" class="button" data-toggle="modal" data-target="#exampleModal">
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>

  <% ratings = [] %>
  <% @meal.reviews.each do |review| %>
    <% ratings << review.rating  %>
  <% end %>

  <% if ratings.empty? %>
    <% average_rating = 0 %>
  <% else %>
    <% average_rating = (ratings.reduce(:+)/ratings.size.to_f).round(0)  %>
  <% end %>

  <div class="right-section">
    <div class="star-rating">
      <p>
        <% average_rating.times do %>
          <i class="fas fa-star star-yellow"></i>
        <% end %>
        <% (5 - average_rating).times do %>
          <i class="fas fa-star star-grey"></i>
        <% end %>
      </p>
      <p>
        <a class="button" id="show-reviews-btn" style="cursor: pointer">
          Reviews (<%= @meal.reviews.count %>)
        </a>
      </p>
    </div>
    <div class="meal-review" style="display: none;">
      <% @meal.reviews.each do |review| %>
        <div class="card-review">
          <div class="review-name">
            <% if review.user.photo.model[:photo] == nil %>
              <%= image_tag "https://www.myfirestorm.com/img/placeholder_user.png", class: "avatar-review" %>
            <% else %>
              <%= cl_image_tag current_user.photo, class: "avatar-review" %>
            <% end %>
            <p><%= review.user.first_name %></p>
            <p><%= review.user.address %></p>
          </div>
          <div class="review-body">
            <p class="review-date">
              <% review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
               <% (5 - review.rating).times do %>
                <i class="fas fa-star star-grey"></i>
              <% end %>
              <span><%= review.created_at.strftime('%d %b %Y') %></span>
            </p>
            <p>"<em><%= review.content %></em>"</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
</div>



<!-- Modal -->
<% if user_signed_in? %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Meal added to your cart</h5>
      </div>
      <div class="modal-body">
        <%= @meal.name %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"><%= link_to "Continue Shopping", meals_path %></button>
        <button type="button" class="btn btn-secondary"><%= link_to "Checkout", order_path(current_user.current_order) %></button>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>

<!-- Modal -->


<script>
  function decrease() {
    let val = document.querySelector(".val");
    if(parseInt(val.value) > parseInt(val.min)) {
      val.value = parseInt(val.value) - 1;
    }
    return val;
  }
  function increase() {
    let val = document.querySelector(".val");
    if(parseInt(val.value) < parseInt(val.max)) {
      val.value = parseInt(val.value) + 1;
    }
    return val;
  }

  const hideElement = (element) => {
  if (element.style.display === "none") {
    element.style.display = "block";
  } else {
    element.style.display = "none";
  }
}

  const buttonReview = document.getElementById('show-reviews-btn');
  const reviewContainer = document.querySelector('.meal-review');

  buttonReview.addEventListener('click', (event) => {
    hideElement(reviewContainer);
  })
</script>

