<!-- app/views/payments/new.html.erb -->
<h1>Purchase of meal <%= @item.meal_sku %></h1>
<%= form_tag item_payments_path(@item) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@item.amount) %></span>
    </label>
  </article>

  # Commented for the lecture, remove comments.
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Meal"
    data-email="<%= current_user.email %>"
    data-description="Meal <%= @item.meal_sku %>"
    data-amount="<%= @item.amount_cents %>"
    data-currency="<%= @item.amount.currency %>"></script>

<% end %>
