<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta property="og:url"                content="https://www.foodnextdoor.app/" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Food Next Door" />
  <meta property="og:description"        content="Order a home cooked meal from your neighbors" />
  <meta property="og:image"              content="https://workablehr.s3.amazonaws.com/uploads/photos/65499/412f15dc26f4b5616e74b86f676c69a2.jpg" />

  <title>Food Next Door - Order a home cooked meal from your neighbors</title>
  <%= render 'application/favicon' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>
  <body class="<%= controller_name %> <%= action_name %>">
    <% unless action_name == "home" || action_name == "new" || action_name == "edit" %>
      <%= render 'shared/navbar' %>
    <% end %>
  <%#= render 'shared/flashes' %>
  <div class="page-wrapper">
    <%= yield %>
  </div>
  <% unless action_name == "index" %>
  <%= render 'shared/footer' %>
  <% end %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
